# Data Science Tools and Ecosystem

> In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are : 
>*1.Python* 
2.R 
3.SQL

Some of the commonly used libraries used by Data Scientists include: 
1.Numpy
2.Pandas
*3.Matlotlib*

Data Science Tools | Jupyter Notebooks | RStudio | Spyder

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
a_minute = 200 
b_hour = a_minute / 60 
print(b_hour)

3.3333333333333335

**Objective :**
1. Jupyther Notebooks 2.RStudio 3.SQL

## Author 
Pham Hoang Nhat Nguyen